<nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/hadith">Hadith</a>
        </li>
         <li>
          <a href="/dashboard">Dashboard</a>
        </li>
        <li>
          <a href="/touch">Touch</a>
        </li>
         <li>
          <a href="/vers">vers</a>
        </li>
        {{#if logged_in}}
        <li>
          <a href="/"></a>
        </li>
        {{/if}}
        {{#if logged_in}}
        <li>
          <a id="logout" href="#">Logout</a>
        </li>
        {{else}}
         <li>
          <a href="/login">Login</a>
        </li>
        
        {{/if}}
      </ul>
    </nav>