<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">



<div class="card-group">
  <div class="card">
    <img src="img/islam.jpg" class="Card image cap">
    <div class="card-body">
      <h5 class="">THE BOOK OF REVELATION</h5>

    </div>
    <div class="card-footer">
      <a href="https://www.youtube.com/watch?v=QEQZeoV0890&t=5s" class="button">hadith verse bukhari</a>
  
      <a href="https://www.w3docs.com/" class="button">hadith verse bukhari</a>
     
    </div>






  </div>
  <div class="card">
    <img class="card-img-top" src="img/islam.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">THE BOOK OF BELIEF</h5>
    
    </div>
    <div class="card-footer">
       <a href="https://www.youtube.com/watch?v=Elie3biNzbQ" class="button">hadith verse bukhari</a>
    
      <a href="https://www.w3docs.com/" class="button">hadith verse bukhari</a>
   
    </div>





  </div>
  <div class="card">
    <img class="card-img-top" src="img/islam.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">THE BOOK OF KNOWLEDGE</h5>
  
    </div>
    <div class="card-footer">
       <a href="https://www.youtube.com/watch?v=Of5RVmCssgM" class="button">hadith verse bukhari</a>
   
      <a href="https://www.w3docs.com/" class="button">hadith verse bukhari</a>
    </div>

</div>





</div>
<div class="card-group">
  <div class="card">
    <img src="img/islam.jpg" class="Card image cap">
    <div class="card-body">
      <h5 class="card-title">THE BOOK OF WUDU</h5>

    </div>
    <div class="card-footer">
       <a href="https://www.youtube.com/watch?v=XNK63TtHCf4" class="button">hadith verse bukhari</a>
  
      <a href="https://www.w3docs.com/" class="button">hadith verse bukhari</a>
  
    </div>





  </div>
  <div class="card">
    <img class="card-img-top" src="img/islam.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">THE BOOK OF AS-SALAT</h5>
    
    </div>
    <div class="card-footer">
     <a href="https://www.youtube.com/watch?v=-_yzgtXT2xo" class="button">hadith verse bukhari</a>
  
     <a href="" class="button">hadith verse bukhari</a>

    </div>






  </div>
  <div class="card">
    <img class="card-img-top" src="img/islam.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">THE BOOK OF ADHAN</h5>
  
    </div>
    <div class="card-footer">
      <a href="https://www.youtube.com/watch?v=wuOO1w2eSP8" class="button">hadith verse bukhari</a>
  
      <a href="" class="button">hadith verse bukhari</a>

    </div>








  </div>
</div>
<div class="card-group">
  <div class="card">
    <img src="img/islam.jpg" class="Card image cap">
    <div class="card-body">
      <h5 class="card-title">THE BOOK OF WITR</h5>

    </div>
    <div class="card-footer">
    <a href="https://www.youtube.com/watch?v=jq4PJrlLiFI" class="button">hadith verse bukhari</a>
  
    <a href="" class="button">hadith verse bukhari</a>
    
    </div>









  </div>
  <div class="card">
    <img class="card-img-top" src="img/islam.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">THE BOOK OF HAJJ</h5>
   
    </div>
    <div class="card-footer">
    <a href="https://www.w3docs.com/" class="button">hadith verse bukhari</a>
  
    <a href="" class="button">hadith verse bukhari</a>
     
    </div>







  </div>
  <div class="card">
    <img class="card-img-top" src="img/islam.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">THE BOOK OF AL-UMRA</h5>

    </div>
    <div class="card-footer">
        <a href="https://www.youtube.com/watch?v=zU8_YohugNw" class="button">hadith verse bukhari</a>
  
      <a href="" class="button">hadith verse bukhari</a>
      
    </div>
  </div>
</div>
</div>

