<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <h1>Sahih Bukhari</h1>
<div class="card-group">
  <div class="card">
    <img src="img/islam.jpg" class="Card image cap">
    <div class="card-body">
      <h5 class="card-title">The Book Of Revelation</h5>
      <p class="card-text">Narrated 'Umar bin Al-Khattab: I heard Allah's Apostle saying, The reward of deeds depends upon the intentions and every person will get the reward according to what he has intended. So whoever emigrated for worldly benefits or for a woman to marry, his emigration was for what he emigrated for.</p>
    </div>
    <div class="card-footer">
     <a href="https://www.w3docs.com/" class="button">The Book Of Revelation</a>
  
    <a href="https://www.youtube.com/watch?v=QEQZeoV0890&t=437s" class="button">Listen to The Book Of Revelation</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="img/islam.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">The Book Of Belief</h5>
      <p class="card-text">Your invocation means your faith

Narrated Ibn 'Umar: Allah's Apostle said: Islam is based on (the following) five (principles): 1. To testify that none has the right to be worshipped but Allah and Muhammad is Allah's Apostle. 2. To offer the (compulsory congregational) prayers dutifully and perfectly. 3. To pay Zakat (i.e. obligatory charity) . 4. To perform Hajj. (i.e. Pilgrimage to Mecca) 5. To observe fast during the month of Ramadan..</p>
    </div>
    <div class="card-footer">
       <a href="https://www.w3docs.com/" class="button">hadith verse bukhari</a>
  
    <a href="https://www.w3docs.com/" class="button">The Book Of Belief</a>
      
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="img/islam.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">The Book Of Knowledge</h5>
      <p class="card-text">(59) Whoever is asked about knowledge while he is busy in some conversation, so he ﬁnished his talk, and then answered the questioner

Narrated Abu Huraira: While the Prophet was saying something in a gathering, a Bedouin came and asked him, When would the Hour (Doomsday) take place? Allah's Apostle continued his talk, so some people said that Allah's Apostle had heard the question, but did not like what that Bedouin had asked. Some of them said that Allah's Apostle had not heard it. When the Prophet finished his speech, he said, Where is the questioner, who inquired about the Hour (Doomsday)? The Bedouin said, I am here, O Allah's Apostle . Then the Prophet said, When honesty is lost, then wait for the Hour (Doomsday). The Bedouin said, How will that be lost? The Prophet said, When the power or authority comes in the hands of unfit persons, then wait for the Hour (Doomsday.)</p>
    </div>
    <div class="card-footer">
        <a href="https://www.w3docs.com/" class="button">hadith verse bukhari</a>
  
       <a href="https://www.w3docs.com/" class="button">The Book Of Knowledge</a>
   
    </div>
  </div>
</div>
<div class="card-group">
  <div class="card">
    <img src="img/islam.jpg" class="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <a href="https://www.w3docs.com/" class="button">hadith verse bukhari</a>
  
      <a href="https://www.w3docs.com/" class="button">hadith verse bukhari</a>
     
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="img/islam.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer">
       <a href="https://www.w3docs.com/" class="button">hadith verse bukhari</a>
    
      <a href="https://www.w3docs.com/" class="button">hadith verse bukhari</a>
   
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="img/islam.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="card-footer">
       <a href="https://www.w3docs.com/" class="button">hadith verse bukhari</a>
   
      <a href="https://www.w3docs.com/" class="button">hadith verse bukhari</a>
    </div>
  </div>
</div>
<div class="card-group">
  <div class="card">
    <img src="img/islam.jpg" class="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
       <a href="https://www.w3docs.com/" class="button">hadith verse bukhari</a>
  
      <a href="https://www.w3docs.com/" class="button">hadith verse bukhari</a>
  
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="img/islam.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer">
     <a href="https://www.w3docs.com/" class="button">hadith verse bukhari</a>
  
     <a href="https://www.w3docs.com/" class="button">hadith verse bukhari</a>

    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="img/islam.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="card-footer">
      <a href="https://www.w3docs.com/" class="button">hadith verse bukhari</a>
  
      <a href="https://www.w3docs.com/" class="button">hadith verse bukhari</a>

    </div>
  </div>
</div>
<div class="card-group">
  <div class="card">
    <img src="img/islam.jpg" class="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
    <a href="https://www.w3docs.com/" class="button">hadith verse bukhari</a>
  
    <a href="https://www.w3docs.com/" class="button">hadith verse bukhari</a>
    
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="img/islam.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer">
    <a href="https://www.w3docs.com/" class="button">hadith verse bukhari</a>
  
    <a href="https://www.w3docs.com/" class="button">hadith verse bukhari</a>
     
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="img/islam.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="card-footer">
        <a href="https://www.w3docs.com/" class="button">hadith verse bukhari</a>
  
      <a href="https://www.w3docs.com/" class="button">hadith verse bukhari</a>
      
    </div>
  </div>
</div>



