 <section id="search" class="search-wrap">

  <br>

  </br>
    <form action="/search" class="search-form">
      <i class="fas fa-search"></i>
      <input type="search" name="term" placeholder="">
      <input type="submit" value="Search">
    </form>
  </section>