<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>

	<div class="container">
		<form>
			<h3>Get IN TOUCH</h3>
			<input type="text" id="name" placeholder="Your Name" required>
			<input type="email" id="name" placeholder="Your Name" required>
			<input type="text" id="name" placeholder="Your Name" required>



		</form>




	</div>
</body>
</html>